{% extends "../base.html" %}
{% block css %}{% endblock css %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}

<div class="container py-5 mt-3">
  <div class="row">
    <div class="col-12 col-sm-10">
      <!-- Paragraph 1 Start -->
      <div class="para-1">
        <h3 class="title">About US:</h3>
        <p>We at St-John university focus on engaging the mind with necessary skills and craftsmanship required to meet
          the higher degree of knowledge and excellence required in the professional world. Further, to extend to the
          unreached sections of the society to impart need and knowledge based professional education we are providing
          the facility of online live lectures through our Institute of Open Online and Distance Education .We seek to
          contribute to the overall development of the local community, the state, the nation and the world, through
          diverse ways.
        </p>
      </div>
      <!-- Paragraph 1 End -->

      <!-- Paragraph 2 Start -->
      <div class="para-2">
        <h6 class="title">
          Mission
        </h6>
        <p>
          To provide an opportunity to deliver a Lifelong Learning, Flexible learning process and achieve the Life Goals
          of the people irrespective of their age or qualification who otherwise could not attend colleges or Academies
          due to various compulsions.
        </p>
      </div>
      <!-- Paragraph 2 End -->

      <!-- Paragraph 3 Start -->
      <div class="para-3">
        <h6 class="title">Vision</h6>
        <p>Aid individuals with a commitment to help them excel in education. To nurture and promote human advancement
          and to make the university a preferred institute for young women and men who are aspiring for productive
          careers.</p>
      </div>
      <!-- Paragraph 3 End -->

      <div class="para-4">
        <h6 class="title">Objective</h6>
        <ul type="arrow">
          <li>Provide easy access to high quality education in Management and other academic & professional fields to its students, irrespective of their caste, creed, age, gender, region or country, at an affordable cost.</li>
          <li>Offer a conducive environment for pursuing research and vocational studies with a market-driven orientation.
          </li>
          <li>Expose students to new ideas, fresh vision, pragmatic ambition and enhance their competency in the ever-changing business environment.</li>
          <li>Provide flexible choice based system of education and dual-degree programmes while adopting modes to suit students' requirements of learning.</li>
          <li>Prepare and assist students in improving their future prospects through career counseling and placement support, on the job training, industrial visits, presentations, group discussions.</li>
          <li>Promote and practise a convenient distance education concept in India and abroad.</li>
          <li>Promote and spread job-oriented education in rural and tribal areas.</li>
        </ul>

      </div>
    </div>
  </div>
</div>
{% endblock body %}