{% extends "../base.html" %}
{% block css %}{% endblock css %}
{% block meta %}
<meta name="description" content="St. John International online Autonomous university is imparting Online Education, Distance Education, and Regular & Evening college." />
<meta name="keywords" content="online education, st. john online courses and diplomas and degrees and certificates, health courses in Bengaluru, Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/about">
{% endblock meta %}
{% block title %} About St. John International online Autonomous University {% endblock title %}
{% block body %}
{% load static %}

<div class="container py-5 mt-3">
  <div class="row">
    <div class="col-12 col-sm-10">
      <!-- Paragraph 1 Start -->
      <div class="para-1">
        <h3 class="title">About US:</h3>
        <p>St. John International online Autonomous university is an Autonomous body that is imparting Online Education, Distance Education, Regular & Evening college to empower people irrespective of Age, Cast, Creed and Religion for those who have lost the opportunity at the right age due to Poverty, Social Compulsion, and family conditions.
        </p>
        <p>Drawing students and faculty from across India and abroad, the University has emerged as a symbol of excellence, integrity and openness of mansa (thought), vaacha (speech) and karmana (action).
        </p>
        <p>All the Courses offered by St. John International university are Non-Conventional, Need Based and Tailor made model to suit the needs of the People aimed at gainful employment based on the Prime Minister's "SKILL MISSION Programme"</p>
      </div>
      <!-- Paragraph 1 End -->



    <a href="{% url 'index:vision-and-mission' %}" class="text-decoration-none">Vision & Mission</a>
    </div>
  </div>
</div>
{% endblock body %}