{% extends "base.html" %}
{% block meta %}
<meta name="description" content="Are you looking for an evening admission or classes, and certificate? Just check out St. John international online autonomous university." />
<meta name="keywords" content="evening classes, evening admission,online education, st. Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/admission-evening/">
{% endblock meta %}
{% block title %} St. John offers Evening Admission Programme{% endblock title %}

{% block body %}

{% load static %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-lg-7 col-md-10 col-sm-11">
                <h1 class="title mb-4">Evening Admission</h1>
                <p>St. John offer Evening Admission Programme. Evening classes, broadly speaking, are any college courses offered after 5 p.m. These classes are often designed for nontraditional students, or those who don't enrol in college right out of high school or work day jobs. Even though anybody can enrol in night classes, some programmes' schedules and content are intended to be more convenient for students with daytime obligations.</p>
                <img src="{% static 'images/evening.jpg' %}" class="img-fluid rounded mt-1" alt="">
            </div>
            <div class="w-100"></div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-4">
                <h2 class="my-3">Why Take Evening Classes?</h2>
                <ul>
                    <li>Students who are unable to attend full-time weekday sessions can still achieve a degree or certificate according to their own schedule by enrolling in evening courses.</li>
                    <li> Evening classes are frequently taken advantage of by working professionals and stay-at-home parents; this group is sometimes referred to as part-time or unconventional students.</li>
                    <li>Almost any subject may offer evening sessions to prospective students.</li>
                    <li>These classes are frequently included in continuing education or degree programmes and can be quite helpful for people who have demanding daytime schedules.</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-3">
                <p class="text-justify title" style="text-align:justify ;">Numerous strategies are used in evening sessions to accommodate atypical students. The first is the duration, which is where the name "evening courses" comes from. Night classes enable students to keep up a regular schedule during the day, such as going to work, while also further their education at night by arranging sessions after 5 p.m.</p>
            </div>
        </div>
    </div>
</section>

{% endblock body %}