{% extends "../base.html" %}
{% block title %} Admit Card {% endblock title %}

{% block body %}

{% load static %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-6 py-3 pt-4 ">
            <h2 class="text-center title text-uppercase">Admit Card</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="enrollment-input" class="form-label">Enrollment No.</label>
                    <input type="text" class="form-control" name="enrollment_no" id="enrollment-input"
                        placeholder="Search Enrollment No.">
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn" value="Submit"
                        style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-11 pt-3 d-flex flex-column justify-content-center align-items-center">
                {% if admitcard %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <h3 class="title d-inline">Alumni Details</h3>
                        <a onclick="printCard()" ><input type="submit" class="btn bg-primary text-white mb-1" value="Download Admit Card"></a>

                    </div>
                </div>
                <div id="card" class="body">
                    <div class="mx-3">
                    <div class="admit-card w " >
                        <div class="card-logo d-flex justify-content-center">
                            <img style="height:20vh;" class="img-responsive d-block text-center"
                                src="{% static 'logos/stjohn-bgr.png' %}" alt="St. John's University Logo">
                        </div>
                        <div class="admit-card-user">
                            <img src="{{admitcard.image.url}}" alt="" height="270" class="me-4">
                            <div class="ms-3 ">
                                <p> <b> Enrollment No:</b> {{admitcard.enrollment_no}}</p>
                                <p> <b> Title : </b> {{admitcard.title}}</p>
                                <p> <b> Date : </b> {{admitcard.date}}</p>
                                <p> <b> Time :</b> {{admitcard.time}}</p>
                                <p> <b> Registration No :</b> {{admitcard.reg_no}}</p>
                                <p> <b> Name :</b> {{admitcard.name}}</p>
                                <p> <b> Exam Center :</b> {{admitcard.exam_centre}}</p>
                            </div>

                        </div>
                    </div>
                    <h4 class="text-center my-2 mb-3">Instructions to the Candidate</h4>
                    <div class="note">
                        
                        {{admitcard.instruction | safe}}
                    </div>
                </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    function printCard() {
        var backup = document.body.innerHTML
        var AdmitcardHtml = document.getElementById('card').innerHTML

        document.body.innerHTML = AdmitcardHtml
        window.print()
        document.body.innerHTML = backup
    }
</script>
{% endblock body %}