{% extends "base.html" %}
{% block meta %}
<meta name="description" content="Are you looking for an online professional Degree, Diploma, course, and certificate? Just check out St. John international online autonomous university." />
<meta name="keywords" content="online education, st. Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/">
{% endblock meta %}
{% block title %} St. John Regular Admission Program{% endblock title %}

{% block body %}

{% load static %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-lg-7 col-md-10 col-sm-11">
                <h1 class="title mb-4">Regular Admission</h1>
                <p>St. John offers regular programs. where we conduct  all kinds of classes in our University. You can take admission from anywhere in the world.</p>
                <img src="{% static 'images/regular.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            <div class="w-100"></div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-4">
                <article>
                <!-- <h2 class="my-3">What to Expect in Regular Online Classes</h2> -->
                <ul>
                    <li><b>Enhances critical thinking skills-</b> Regular instruction improves pupils' capacity for critical thought. Students who are taught in a classroom have the chance to participate in real-time debates where they are compelled to develop viewpoints or arguments using their critical thinking abilities.</li>
                    <li><b>Improves social skills- </b> In a classroom, students interact socially with their classmates and build relationships with their teachers. Within the context of their academic education, supporting children's social growth is crucial.</li>
                    <li><b>Promotes collaborative learning- </b>To encourage and enhance collaborative learning, a supportive classroom atmosphere is fundamental. A student's self-awareness of how other students learn and their ability to learn more readily and efficiently both within and outside of the classroom are both improved by collaborative learning, which also makes them eager learners. </li>
                    
                </ul>
            </article>
            </div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-3">
                <p class="text-justify title" style="text-align:justify ;">Regular Care is defined as Treatment that is given as regularly as is medically necessary in accordance with standards set by nationally recognised authorities, medical research, healthcare organisations, governmental agencies, or rehabilitative groups. Care must be administered directly by your doctor in accordance with local medical norms that are generally recognised as safe and effective, be of demonstrated medical benefit, and be required to address your fundamental health requirements.</p>
            </div>
        </div>
    </div>
</section>

{% endblock body %}