{% extends "../base.html" %}
{% block title %} Admit Card {% endblock title %}
{% block body %}

{% load static %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-6 py-3 pt-4 ">
            <h2 class="text-center title text-uppercase">Admit Card</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="enrollment-input" class="form-label">Enrollment No.</label>
                    <input type="text" class="form-control" name="enrollment_no" id="enrollment-input"
                        placeholder="Search Enrollment No.">
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn" value="Submit"
                        style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-11 col-md-6 py-3 pt-3 ">
                {% if admitcard %}
                <h3>Alumni Details</h3>
                <div>
                    <a href="{% url 'index:admit-pdf-view' admitcard.enrollment_no %}" target="_blank"><input
                            type="submit" class="btn-contact" value="Download Admit Card"
                            style="background-color: darkblue; color: white; cursor: pointer;width:30%;padding: 10px;">
                    </a>
                </div>

                <center style="margin: 20px;">
                    <div id="block-main-logo" class="site-header__logo"><a href="index.html"><span
                                class="show-for-sr">Return
                                to St. John's University homepage</span><img class="medium-up"
                                src="{% static 'logos/stjohn.png' %}" alt="St. John's University Logo"><img
                                class="small-only" src="{% static 'stjohn.png' %}" alt="St. John's University Logo"></a>
                    </div>
                </center>
                <div style="display:  flex;">
                    <img src="{{admitcard.image.url}}" alt="" width="290" height="250">
                    <div style="margin:15px;">
                        <p> <b> Enrollment No:</b> {{admitcard.enrollment_no}}</p>
                        <p> <b> title : </b> {{admitcard.title}}</p>
                        <p> <b> date : </b> {{admitcard.date}}</p>
                        <p> <b> time :</b> {{admitcard.time}}</p>
                        <p> <b> reg_no :</b> {{admitcard.reg_no}}</p>
                        <p> <b> name :</b> {{admitcard.name}}</p>
                        <p> <b> exam_centre :</b> {{admitcard.exam_centre}}</p>
                    </div>

                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}