{% extends "base.html" %}
{% block meta %}
<meta name="description" content="are you looking for St. John's online Admission and classes? Just check out St. John international online autonomous university." />
<meta name="keywords" content="online admission, online classes, online education, st. Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/admission-online/">
{% endblock meta %}
{% block title %}St. John Online Admission Programme{% endblock title %}

{% block body %}

{% load static %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-lg-7 col-md-10 col-sm-11">
                <h1 class="title mb-4">Online Admission</h1>
                <p>St. John offers online Admission, To encourage people for online learning. so that you could attend classes from around the world.  </p>
                <img src="{% static 'images/online.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            <div class="w-100"></div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-4">
                <h2 class="my-3">Why Students should take Admission in Online?</h2>
                <ul>
                    <li><b>Efficiency- </b>Teachers can effectively give lessons to students through online learning. Teachers can use all of the resources available for online learning, including podcasts, PDFs, and videos, as part of their lesson preparations. Teachers may become more effective instructors by expanding the lesson plan beyond standard textbooks to include internet resources. </li>
                    <li><b>Accessibility Of Time And Place- </b>The ability for students to take classes from any place of their choosing is another benefit of online education. Additionally, it frees schools from the limitations imposed by physical limits and enables them to connect with a wider network of pupils. Online lectures can also be recorded, saved, and distributed for later use. This enables students to access the instructional materials whenever it is convenient for them.</li>
                    <li><b>Suits A Variety Of Learning Styles- </b>Every learner has a unique learning path and a unique learning style. Some students learn best through visuals, while others learn best through sounds. Similar to this, some students excel in the classroom while others study best on their own and become easily distracted by huge groups.</li>
                    
                </ul>
            </div>
            <div class="col-lg-7 col-md-10 col-sm-11 my-3">
                <p class="text-justify title" style="text-align:justify ;">Utilizing technology, online learning simulates or enhances conventional teaching techniques. Some of these teaching techniques, such as using free apps to practise writing Chinese characters, will be introduced to you. You'll get the chance to test out some advances in teaching and learning made available through online learning, building on what you learned the previous week.</p>
            </div>
        </div>
    </div>
</section>

{% endblock body %}