{% extends "base.html" %}
{% block title %} Admit Card {% endblock title %}
{% block css %} <style>
    .mo-res{
        margin: 50px;
    }
    .btn-d{
        margin-bottom: 20px;margin-top: 10px;
    }
    @media screen and (max-width:1024px) {
        .mo-res{
            margin-top: 240px;
        }
    }
</style> {% endblock css %}
{% block body %}

{% load static %}

           <div class="mo-res">
            <center><h1>Admit Card</h1></center>
           <form action="" method="post">
            {% csrf_token %}
                <div class="inputs" style="margin-bottom:20px;">
                    <label style="margin-bottom:20px;">Enrollment No.</label>
                    <input type="text" name="enrollment_no" id="" placeholder="Search Enrollment No.">
                </div>
                <div>
                    <input type="submit" class="btn-contact" value="Submit" style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
                <br><br>
            </form>
                {% if admitcard %}
                <h3>Alumni Details</h3>
                <div>
                    <a href="{% url 'index:admit-pdf-view' admitcard.enrollment_no %}" target="_blank"><input type="submit" class="btn-contact" value="Download Admit Card"  style="background-color: darkblue; color: white; cursor: pointer;width:30%;padding: 10px;">
                    </a>
                    </div>

                 <center style="margin: 20px;"> <div id="block-main-logo" class="site-header__logo"><a href="index.html"><span class="show-for-sr">Return
                    to St. John's University homepage</span><img class="medium-up"
                    src="{% static 'logos/stjohn.png' %}" alt="St. John's University Logo"><img
                    class="small-only" src="{% static 'stjohn.png' %}"
                    alt="St. John's University Logo"></a></div></center>  
       <div style="display:  flex;">
        <img src="{{admitcard.image.url}}" alt="" width="290" height="250">
        <div style="margin:15px;">
            <p> <b> Enrollment No:</b> {{admitcard.enrollment_no}}</p> 
            <p> <b> title : </b>  {{admitcard.title}}</p> 
            <p> <b> date : </b> {{admitcard.date}}</p> 
            <p> <b> time :</b> {{admitcard.time}}</p> 
            <p> <b> reg_no :</b> {{admitcard.reg_no}}</p> 
            <p> <b> name :</b> {{admitcard.name}}</p> 
            <p> <b> exam_centre :</b> {{admitcard.exam_centre}}</p> 
        </div>
 
       </div>
            
        </div>
{% endif %}
{% endblock body %}