{% extends "base.html" %}
{% block title %} Apply Course {% endblock title %}
{% block body %}

{% load static %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 pt-3 mt-3  ">
            <h2 class="text-center title text-uppercase">Apply Courses</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Your Name">
                </div>

                <div class="mb-2">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Your Email">
                </div>

                <div class="mb-2">
                    <label class="form-label" for="phone">Enter Your Phone No.</label>
                    <input class="form-control" type="tel" name="phone" id="phone" placeholder="Phone No.">
                </div>

                <div class="mb-2">
                    <label class="form-label" for="subject">Subject</label>
                    <input class="form-control" type="text" name="subject" id="subject" placeholder="Subject">
                </div>

                <div class="mb-3" >
                    <label class="form-label" for="applying_for">Select Courses</label>
                    <select class="form-select" name="course" id="applying_for" aria-label="Default select example">
                        <option value="0" selected disabled>Choose Your Courses</option>
                        <option value="Health Science Courses">Health Science Courses</option>
                        <option value="Engineering Courses">Engineering Courses</option>
                        <option value="Management Courses">Management Courses</option>
                        <option value="Certified Courses">Certified Courses</option>
                        <option value="Other Courses">Other Courses</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="query">Query</label>
                    <textarea class="form-control" name="query" id="query" cols="30" rows="5"></textarea>
                </div>

                <div class="d-grid" >
                    <input type="submit" class="btn" value="Apply"
                        style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}