{% extends "base.html" %}
{% block title %} Contact {% endblock title %}

{% block body %}

{% load static %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10">
            <h1 class='text-center title text-uppercase'>Contact Us</h1>
            <form method="POST" >
                {% csrf_token %}
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" required >
                </div>
                <div class="mb-2">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="" >
                </div>
                <div class="mb-2">
                    <label class="form-label" for="contact_no">Contact No.</label>
                    <input class="form-control" type="tel" name="contact_no" id="" required>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="subject">Subject</label>
                    <input class="form-control" type="text" name="subject" id="" required >
                </div>
                <div class="mb-2">
                    <label class="form-label" for="message">Your Message</label>
                    <textarea class="form-control" rows="5" name="message" cols="20" required
                        style="margin-bottom: 20px;"></textarea>
                </div>
                <div>
                    <input class="form-control" type="submit" class="btn-contact" value="Submit"
                        style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}