{% extends "base.html" %}
{% block meta %}
<meta name="description" content="choose the perfect course from St. John's professional courses. which will help you to grow in your career. " />
<meta name="keywords" content="online education, st. john online courses and diplomas and degrees and certificates, health courses in Bengaluru, Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/courses">
{% endblock meta %}
{% block title %} St. John's Courses {% endblock title %}

{% block body %}

{% load static %}
<div class="course-img">
  <h2 class="title opacity-100">FIND PROGRAM</h2>
  <img class="img-fluid" src="{% static 'images/program.jpg' %}" alt="">
</div>
<div class="container">
  <div class="row d-md-inline-flex pt-4 justify-content-center d-lg-flex d-sm-flex px-1">
    <h3 class="text-center mb-4 title">Legend</h3>
    <div class="col-11 col-lg-4 col-md-5 mb-3 mb-lg-0">

      <table>
        <tr>
          <td class="fw-bold title px-3">AuD</td>
          <td class="text-dark fw-semibold">Doctor of Audiology</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">BS</td>
          <td class="text-dark fw-semibold">Bachelor of Science</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">MA</td>
          <td class="text-dark fw-semibold">Master of Arts</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">MS</td>
          <td class="text-dark fw-semibold">Master of Science</td>
        </tr>
      </table>
    </div>

    <div class="col-11 col-lg-4 col-md-5 mb-3 mb-lg-0">
      <table>
        <tr>
          <td class="fw-bold title px-3">
            BA</td>
          <td class="text-dark fw-semibold">Bachelor of Arts</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">DPS</td>
          <td class="text-dark fw-semibold">Doctor of Professional Studies</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">
            MBA
          </td>
          <td class="text-dark fw-semibold">Master of Business Administration</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">PHD</td>
          <td class="text-dark fw-semibold">Doctor of Philosophy</td>
        </tr>
      </table>
    </div>

    <div class="col-11 col-lg-4 col-md-5 mb-3 mb-lg-4">
      <table>
        <tr>
          <td class="fw-bold title px-3">
            BFA</td>
          <td class="text-dark fw-semibold">Bachelor of Fine Arts</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">
            EdD
          </td>
          <td class="text-dark fw-semibold">Doctor of Education</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">
            MPS</td>
          <td class="text-dark fw-semibold">Master of Professional Studies</td>
        </tr>
        <tr>
          <td class="fw-bold title px-3">
            PSYD</td>
          <td class="text-dark fw-semibold">Doctor of Psychology</td>
        </tr>

      </table>
    </div>

    <div class="col-11 col-lg-4 col-md-5 pt-">
      <h5><a class="text-decoration-none" href="{% url 'index:health_science_courses' %}">Health Courses</a></h5>
      <h5><a class="text-decoration-none" href="{% url 'index:engineering_courses' %}">Engineering Courses</a></h5>
      <h5><a class="text-decoration-none" href="{% url 'index:management_courses' %}">Management Courses</a></h5>
      <h5><a class="text-decoration-none" href="{% url 'index:certified_courses' %}">Certified Courses</a></h5>
    </div>
    <!-- <div class="w-100"></div> -->
    <div class="col-11 col-md-6 col-lg-5 py-5">
      <h5 class="title text-center  text-uppercase fw-semibold">Type of Addmission we provide</h5>
      <hr>
      <div class="type-admission">
        <ul class="nav justify-content-center">
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'index:admission-regular' %}">Regular</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'index:admission-online' %}">Online</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'index:admission-evening' %}">Evening</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock body %}