{% extends "base.html" %}
{% block title %} Download Document {% endblock title %}

{% block body %}

{% load static %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-10 col-sm-12 col-lg-7">
                <h3 class="title text-center mb-4 ">Download Document</h3>
                <div class="document-detail rounded bg-white p-3 d-none " id="document-details">
                    <form action="">
                        <h6 id="name"></h6>
                        <p class="py-2" id="description"></p>

                        <span class="fw-semibold">Price <span id="price"> </span></span>
                        
                        <a href="#" id="checkout" class="btn btn-primary float-end btn-sm">Checkout</a>
                    </form>
                </div>
                <table class="table table-bordered rounded my-3 border-dark">
                    {% for document in documents %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td class="px-3">{{document.name}}</td>
                        <td><a class="text-decoration-none" href="{{document.sample.url}}"
                                download="{{document.semple.url}}" target="_blank">View Sample</a></td>
                        <td><a href="#" class="btn btn-sm btn-outline-success"
                                onclick="showDocumentDetail('{{document.name}}','{{document.description}}','{{document.price}}','{{document.id}}')">Know
                                More</a></td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</section>


{% endblock %}