{% extends "../base.html" %} 
{% load static %} 
{% block title %} Courses {% endblock title %} 
{% block body %} 

<h2 class="text-center pt-3 title">Engineering Courses</h2>

<div class="container">
  <div class="row">
    {% for course in course_desc %}
    <div class="col-12 my-2">
      <div class="dropdown d-grid gap-2">
        <button type="button" class="dropbtn btn bg-primary">
          {{course.title}}
        </button>
        <div class="dropdown-content col-12">
          <div class="container">
            <div class="row row-2 my-4 border border-secondary">
              <div class="col-12 border border-secondary">
                <b>{{course.title}}</b>
              </div>
              <div class="col-6 border border-secondary">Name</div>
              <div class="col-6 border border-secondary">{{course.name}}</div>
              <div class="col-6 border border-secondary">Code</div>
              <div class="col-6 border border-secondary">{{course.code}}</div>
              <div class="col-6 border border-secondary">Pre-requisite</div>
              <div class="col-6 border border-secondary">
                {{course.pre_requisite}}
              </div>
              <div class="col-6 border border-secondary">Duration</div>
              <div class="col-6 border border-secondary">
                {{course.duration}}
              </div>
              <div class="col-6 border border-secondary">Fee</div>
              <div class="col-6 border border-secondary">{{course.fee}}</div>
              <div class="col-6 border border-secondary">Brief Description</div>
              <div class="col-6 border border-secondary">
                {{course.breif_desc}}
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col">
                <a class="btn btn-primary" href="/apply" role="button"
                  >Link</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}
