{% extends "../base.html" %}
{% load static %}
{% block title %} Id card {% endblock title %}

{% block body %}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-6 py-3 pt-4 ">
            <h2 class="text-center title text-uppercase">Id Card</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="inputs" style="margin-bottom:20px;">
                    <label class="form-label">Enrollment No.</label>
                    <input type="text" class="form-control" name="enrollment_no" id=""
                        placeholder="Search Enrollment No.">
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn" value="Submit"
                        style="background-color: darkblue; color: white; cursor: pointer;padding: 10px;">
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-6 py-3 pt-3">
            {% if idcard %}
            <h3>Alumni Details</h3>
            <div>
                <a href="{% url 'index:idcard-pdf-view' idcard.enrollment_no %}" target="_blank"><input type="submit"
                        class="btn-contact" value="Download Id Card"
                        style="background-color: darkblue; color: white; cursor: pointer;width:30%;padding: 10px;">

            </div>

            <center style="margin: 20px;">
                <div id="block-main-logo" class="site-header__logo"><a href="index.html"><span
                            class="show-for-sr">Return
                            to St. John's University homepage</span><img class="medium-up"
                            src="{% static 'logos/stjohn.png'%}" alt="St. John's University Logo"><img
                            class="small-only" src="{% static 'logos/stjohn.png' %}"
                            alt="St. John's University Logo"></a></div>
            </center>
            <div style="display:  flex;">
                <img src="{{idcard.image.url}}" alt="" width="290" height="250">
                <div style="margin:15px;">
                    <p> <b> Course :</b>{{idcard.title}} </p>
                    <p> <b> Name :</b> {{idcard.name}}</p>
                    <p> <b> Enrollment No:</b> {{idcard.enrollment_no}}</p>
                    <p> <b> Father's Name : </b> {{idcard.fathers_name}} </p>
                    <p> <b> DOB : </b> {{idcard.dob}}</p>
                    <p> <b> Address :</b> {{idcard.address}}</p>
                    <p> <b> Issuing Year :</b> {{idcard.issuing_year}}</p>

                    <p> <b> Validity Year :</b> {{idcard.validity_year}}</p>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}