{% extends "../base.html" %}
{% block title %} St.John University {% endblock title %}
{% block css %}
<style>
  @media screen and (max-width:1024px) {
    .mo-card article{
      margin-top: 90px;
}
  }
 
</style>
{% endblock css %}
{% block body %}

{% load static %}
        <section role="article" about="/home" class="hero--home hero hero--parallax section--global-spacing">
          <div class="main-slider">
            <div class="item video image">
              <div aria-hidden="true" class="hero__overlay hero__overlay--inactive"></div>
              <div class="slide-image slide-media">
                <figure>
                  <picture>
                    <source
                      srcset="{% static 'images/DSC_0012_1600x9008b7e.jpg' %}"
                      media="(min-width: 1024px)" type="image/webp" />
                    <source
                      srcset="{% static 'images/DSC_0012_1600x9008b7e.jpg' %}"
                      media="(min-width: 640px)" type="image/webp" />
                    <source
                      srcset="{% static 'images/DSC_0012_1600x9008b7e.jpg' %}"
                      media="(min-width: 1024px)" type="image/jpeg" />
                    <source
                      srcset="{% static 'images/DSC_0012_1600x9008b7e.jpg' %}"
                      media="(min-width: 640px)" type="image/jpeg" /><img
                      src="{% static 'images/DSC_0012_1600x9008b7e.jpg' %}"
                      alt="Students standing in front of library " typeof="foaf:Image" />
                  </picture>
                </figure>
              </div><video class="slide-video slide-media" autoplay="" loop="" muted="" preload="true" poster="#">
                <source
                  src="https://player.vimeo.com/external/553470817.hd.mp4?s=19f269901702e200197c35c250f13cfc92d8ed9e&amp;profile_id=175"
                  type="video/mp4">
              </video>
            </div>
          </div>
          <div aria-hidden="true" class="hero__overlay"></div>
          <div class="main-slider--content-wrapper">
            <h1 class="show-for-sr"><span>Home</span></h1>
            <div class="main-slider--content">
              <article class="hero__content">
                <div class="hero__content__inner">
                  <h2> Education That Elevates
                  </h2><a href="welcome-future-johnnies.html" class="btn">
                    Register for Accepted Student Summer Events
                  </a>
                </div>
              </article>
            </div>
            <nav class="hero-nav" aria-label="hero-nav">
              <div class="hero-nav__controls"><button class="slick-pause"><span class="show-for-sr">click to pause
                    slider</span></button><button aria-hidden="true" class="slick-play"><span class="show-for-sr">click
                    to play slider</span></button></div>
            </nav>
            <div class="hero-nav__dots"></div>
            <div aria-hidden="true" class="hero__overlay--mobile"></div>
          </div>
        </section>

        <div class="parallax-overlay">
          <div class="system-region">
            <div class="padded-row">
              <div data-drupal-messages-fallback class="hidden"></div>
            </div>
          </div>
          <div class=" ">
            <div id="main-content" class="content">
                <hr><center> <h2> About St. John University</h2></center>  <hr>
              <section class="mo-card">
                <div class="topic-driver-featured-img topic-driver-featured-img--home">
                  <div class="media media--blazy media--bundle--image media--image is-b-loading">
                    <picture>
                      <source srcset="" media="(min-width: 1024px)" type="image/webp"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <source srcset="" media="(min-width: 640px)" type="image/webp"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <source srcset="" media="(min-width: 0em)" type="image/webp"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <source srcset="" media="(min-width: 1024px)" type="image/jpeg"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <source srcset="" media="(min-width: 640px)" type="image/jpeg"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <source srcset="" media="(min-width: 0em)" type="image/jpeg"
                        data-srcset="{% static 'images/gate.jpg' %}" />
                      <img class="media__image media__element b-lazy b-responsive" decoding="async" loading="lazy"
                        data-src="{% static 'gate.jpg' %}"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201600%20670'%2F%3E"
                        alt="St. John University Crest on top of gate" typeof="foaf:Image" />
                    </picture>
                  </div>
                  <div class="img-overlay anim-item anim-item--active" aria-hidden="true"></div>
                  <div class="padded-row row">
                   
                    <p>At St. John University, you can have it all: a Catholic and Vincentian education that broadens your mind, the opportunity to serve your community, the resources and excitement of New York City
                      and our global locations, and the support and network you need for success.It is an Autonomous body that is imparting "ONLINE EDUCATION" to empower people irrespective of Age, Cast, Creed and Religion for those who have lost the opportunity at the right age due to Poverty, Social Compulsion, and family conditions.</p>
                  </div>
                  <div class="padded-row row stories mobile-offset-slider">
                    <article
                      class="card card--story stories__story story story--small sequence-anim-item sequence-anim-item--active fade-left-in">
                      <div class="card__media"><a
                          href="about/news/success-stories/millena-cecilia-santos-albuquerque-22c.html">
                          <div class="media media--blazy media--bundle--image media--image is-b-loading">
                            <picture>
                              <source srcset="" media="(min-width: 1024px)" type="image/webp"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/webp"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <source srcset="" media="(min-width: 0em)" type="image/webp"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <source srcset="" media="(min-width: 1024px)" type="image/png"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/png"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <source srcset="" media="(min-width: 0em)" type="image/png"
                                data-srcset="{% static 'images/greg.jpg'%}" />
                              <img class="media__image media__element b-lazy b-responsive" decoding="async"
                                loading="lazy"
                                data-src="{% static 'images/greg.jpg' %}"
                                src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20960%20640'%2F%3E"
                                alt="Millena Cecilia Santos Albuquerque poses for a photo" typeof="foaf:Image" />
                            </picture>
                          </div>
                        </a></div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h4><a href="about/news/success-stories/millena-cecilia-santos-albuquerque-22c.html">
                                Graphic Design Graduate Uses Art to Inspire Social Change
                              </a></h4>
                            <p> Millena Cecilia Santos Albuquerque ’22C from Harrison, NJ, believes she found a calling
                              during her four years in the Graphic Design program in St. John College of Liberal Arts
                              and Sciences. Outfitted now with a Bachelor of Fine Arts degree and a body of public work,
                              Millena looks forward to a meaningful future as an artist/advocate in the line of Banksy,
                              Paula Champagne, and Deva Pardue.
                            </p><span class="name"><span>Millena Cecilia Santos Albuquerque ’22C</span></span><span
                              class="gradclass"> St. John College of Liberal Arts and Sciences
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article
                      class="card card--story stories__story story story--small sequence-anim-item sequence-anim-item--active fade-left-in">
                      <div class="card__media"><a href="about/news/success-stories/gina-argento-94c-96g.html">
                          <div class="media media--blazy media--bundle--image media--image is-b-loading">
                            <picture>
                              <source srcset="" media="(min-width: 1024px)" type="image/webp"
                                data-srcset="{% static 'images/milena.png'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/webp"
                                data-srcset="{% static 'images/milena.png'%}" />
                              <source srcset="" media="(min-width: 0em)" type="image/webp"
                                data-srcset="{% static 'images/milena.png'%}" />
                              <source srcset="" media="(min-width: 1024px)" type="image/png"
                                data-srcset="{% static 'images/milena.png'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/png"
                                data-srcset="{% static 'images/milena.png'%}"/>
                              <source srcset="" media="(min-width: 0em)" type="image/png"
                                data-srcset="{% static 'images/milena.png'%}" />
                              <img class="media__image media__element b-lazy b-responsive" decoding="async"
                                loading="lazy"
                                data-src="/sites/default/files/styles/360x240/public/2022-06/0622_gina_argento_960x640.png?itok=_-XWXCoC"
                                src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20960%20640'%2F%3E"
                                alt="Gina Argento headshot" typeof="foaf:Image" />
                            </picture>
                          </div>
                        </a></div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h4><a href="about/news/success-stories/gina-argento-94c-96g.html"> Alumna Leads
                                Eco-Friendly TV Production Studio in Brooklyn
                              </a></h4>
                            <p> Gina Argento ’94C, ’96G rooted for the Red Storm while earning her bachelor’s and
                              master’s degrees at St. John University. Along the way, she helped improve the planet
                              through “green” initiatives at her company, Broadway Stages, Ltd., one of the film
                              industry’s few eco-friendly soundstages.
                            </p><span class="name"><span>Gina Argento ’94C, ’96G </span></span><span class="gradclass">
                              St. john College of Liberal Arts and Sciences
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article
                      class="card card--story stories__story story story--small sequence-anim-item sequence-anim-item--active fade-left-in">
                      <div class="card__media"><a href="about/news/success-stories/robert-e-cortes-22edd.html">
                          <div class="media media--blazy media--bundle--image media--image is-b-loading">
                            <picture>
                              <source srcset="" media="(min-width: 1024px)" type="image/webp"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/webp"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <source srcset="" media="(min-width: 0em)" type="image/webp"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <source srcset="" media="(min-width: 1024px)" type="image/jpeg"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <source srcset="" media="(min-width: 640px)" type="image/jpeg"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <source srcset="" media="(min-width: 0em)" type="image/jpeg"
                                data-srcset="{% static 'images/gina.png'%}" />
                              <img class="media__image media__element b-lazy b-responsive" decoding="async"
                                loading="lazy"
                                data-src="/styles/360x240/public/2022-06/0622_robert_cortes_960x640.jpg?itok=NwrrDZkS"
                                src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20960%20640'%2F%3E"
                                alt="Robert Cortes on commencement stage with Dean Holmes and University employee"
                                typeof="foaf:Image" />
                            </picture>
                          </div>
                        </a></div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h4><a href="about/news/success-stories/robert-e-cortes-22edd.html"> Doctoral Graduate
                                Overcomes Challenges to Earn Degree
                              </a></h4>
                            <p> Robert E. Cortes ’22Ed.D., Outreach Coordinator for Borough of Manhattan Community
                              College (BMCC), decided it was time to go back to school after earning his bachelor’s
                              degree from Hunter College, and his master’s degree from Columbia University School of
                              Social Work. Between earning his last degree and beginning his studies at St. John
                              University, 17 years had passed.
                            </p><span class="name"><span>Robert E. Cortes ’22Ed.D.</span></span><span class="gradclass">
                              The School of Education
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </section>
              <section class="section--banded section--global-spacing section--homepage-gallery">
                <div class="padded-row split-intro-text">
                  <div class="small-12">
                    <h2> Who We Are
                    </h2>
                  </div>
                  <div class="split-intro-text__text">
                    <p> Our achievements and accolades showcase the power and pride of a St. John education.
                    </p>
                  </div>
                  <div class="split-intro-text__btn"><span class="split-intro-text__btn__container"><a
                        href="about/history-and-facts/points-pride-old.html" class="btn">
                        Learn More
                      </a></span></div>
                </div>
                <div class="photo-gallery">
                  <div class="photo-gallery__gallery anim-item">
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/1.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/1.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/1.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/1.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="{% static 'scroller/1.jpg' %}"
                            alt="Confetti at 2022 SJU commencement" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> Students Recall Challenges and Triumphs during Commencement Exercises
                            </h3>
                            <p>Bright sunshine and unseasonable heat may have brought a drop of sweat to the brow, but
                              they did nothing to dampen the spirits of graduates and their families gathered on the
                              Great Lawn during St. John University’s 152nd annual Commencement Exercises on May 22.
                              More than 2,300 undergraduate degrees were conferred at the ceremony for students
                              attending the <a href="about/campuses-and-locations/queens-campus.html">Queens</a>, <a
                                href="about/campuses-and-locations/staten-island-campus.html"
                                title="https://www.stjohns.edu/about/campuses-and-locations/staten-island-campus">Staten
                                Island</a>, and <a
                                href="about/campuses-and-locations/manhattan-campus.html">Manhattan</a> campuses, as
                              well as for those who earned their degree online. </p>
                          </div>
                          <div class="card__links"><span class="line-link"><a
                                href="about/news/2022-05-23/students-recall-challenges-and-triumphs-during-commencement-exercises.html">St.
                                johns Celebrates Commencement</a></span><span class="line-link"><a
                                href="about/news/success-stories/andre-mckenzie-edd-vice-provost-and-interim-chief-diversity-officer.html">Reflections
                                on a Life-Changing Career at St. John</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/2.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/2.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/2.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/2.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2022-05/220512_hsc_ground_breaking_ceremony_211_960x640_06ebd.jpg?itok=UMIJyq0v"
                            alt="Future Home of New Nursing Program" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> St. John University Breaks Ground on Health Sciences Center
                            </h3>
                            <p>A ceremonial groundbreaking for the construction of a <a
                                href="about/leadership-and-administration/administrative-offices/campus-facilities-and-services/health-sciences-center.html">Health
                                Sciences Center</a> at St. John University took place on Thursday, May 12, on the <a
                                href="about/campuses-and-locations/queens-campus.html">Queens</a>, NY, campus, ushering
                              in a new era and a planned state-of-the art facility designed to train future generations
                              of caregivers at a time of tremendous change and opportunity in health care.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a
                                href="about/news/2022-05-12/st-johns-university-breaks-ground-health-sciences-center-0.html">Future
                                Home of New Nursing Program</a></span><span class="line-link"><a
                                href="about/news/2022-04-11/st-johns-university-nursing-program-approved-applications-now-being-accepted.html">St.
                                John’s University Nursing Program Approved</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/3.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/3.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/3.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="/scroller/3.jpg"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2019-01/180927-MAD-Lab--(30).1600x90022a6.jpg?itok=BkPGUIDJ"
                            alt="Male student in class working on computer" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> Learning with the Latest Technology
                            </h3>
                            <p>A St. John education gives you limitless opportunities to broaden your mind, be
                              inspired, and discover your place in the world.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a href="academics.html">Academics</a></span>
                          </div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/4.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/4.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/4.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/4.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2019-02/SJU-0466_760x507ea06.jpg?itok=HVRpq1C6"
                            alt="Image of the keltic cross statue" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> Faithful to the Mission
                            </h3>
                            <p>Why stop at making your mark? At St. John, you help make the world a better place. We
                              create opportunities for students to gain inspiration from their individual faith
                              traditions by volunteering, fighting injustice, and serving those in need.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a
                                href="about/faith-and-mission.html">Building a Community of Faith, Service, and
                                Friendship</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/5.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/5.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/5.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/5.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2019-01/Jina%20Jeun%20Jun_Paris%20Backpack_1600x9001833.jpg?itok=uPgCw6t_"
                            alt="Student wearing St. john University backpack infront of Eiffel tower"
                            typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> A Global City and a World Campus
                            </h3>
                            <p>A globally-minded ethos of servant leadership forms the backbone of our Vincentian
                              “institutional DNA,” and guides the way we envision, support, and nurture education and
                              collaboration. We welcome the world at St. John, and we invite you to explore all that
                              we have to offer in New York, Rome, Paris, and through our engagement with international
                              partners.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a
                                href="academics/global-programs.html">Global Programs</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/6.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source srcset="{% static 'scroller/6.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source srcset="{% static 'scroller/6.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source srcset="{% static 'scroller/6.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2021-06/3_1c9eb.jpg?itok=bLM26s29"
                            alt="Gate with crest" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> Diversity, Equity, and Inclusion
                            </h3>
                            <p>A dedication to diversity, equity, and inclusion is at the heart of our mission. As a
                              Catholic and Vincentian university, St. John is committed to institutionalizing
                              practices of inclusive excellence to ensure that we welcome and celebrate the intrinsic
                              worth of all members of our community.</p>
                            <p>We will become an even stronger University as we enhance equity at every level of our
                              institution. As noted in our Vision Statement, our graduates will excel in the
                              competencies and values required for leadership and service in a rapidly evolving world.
                            </p>
                          </div>
                          <div class="card__links"><span class="line-link"><a
                                href="equity-and-inclusion.html">Diversity, Equity, and Inclusion</a></span><span
                              class="line-link"><a href="academics/programs/critical-race-ethnic-studies-minor.html">New
                                Critical Race &amp; Ethnic Studies Interdisciplinary Minor</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/7.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/7.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/7.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/7.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2020-02/bigeast960x64096ae.jpg?itok=eM384i3I"
                            alt="Student walking across field with BIG EAST painted on field" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> We Are New York's Team
                            </h3>
                            <p>A founding member of the BIG EAST, St. John has a proud athletics history that dates
                              back to 1907.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a href="athletics.html">Red Storm
                                Sports</a></span></div>
                        </div>
                      </div>
                    </figure>
                    <figure
                      class="card card--large card--gallery-home sequence-anim-item photo-gallery__item paragraph paragraph--type--slide-points-pride paragraph--view-mode--default">
                      <div class="aspect-ratio-frame card__media" style="--aspect-ratio: .67">
                        <picture>
                          <source
                            srcset="{% static 'scroller/8.jpg' %}"
                            media="(min-width: 1024px)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/8.jpg' %}"
                            media="(min-width: 0em)" type="image/webp" />
                          <source
                            srcset="{% static 'scroller/8.jpg' %}"
                            media="(min-width: 1024px)" type="image/jpeg" />
                          <source
                            srcset="{% static 'scroller/8.jpg' %}"
                            media="(min-width: 0em)" type="image/jpeg" /><img
                            src="sites/default/files/styles/640w/public/2019-01/42292505400_ab7ff5d766_o%20(1)_1600x6702efb.jpg?itok=llhAAk1S"
                            alt="Female alumni conversing at sunset" typeof="foaf:Image" />
                        </picture>
                      </div>
                      <div class="card__content">
                        <div class="card__content__inner">
                          <div class="card__text">
                            <h3> An Alumni Network That Opens Doors
                            </h3>
                            <p>You can always find a way to give back to the St. John family. The University offers a
                              wide range of alumni associations and chapters, receptions and outings, giving societies,
                              and opportunities to mentor or volunteer.</p>
                          </div>
                          <div class="card__links"><span class="line-link"><a href="alumni-and-friends.html">193,000+
                                Alumni Strong</a></span><span class="line-link"><a
                                href="alumni-and-friends/ways-contribute/sjyou-loyal-honoring-donor-loyalty.html">Are
                                You SJYOU Loyal?</a></span></div>
                        </div>
                      </div>
                    </figure>
                  </div>
                  <div class="section--homepage-gallery__arrows-container"></div>
                </div>
              </section>
              <section class="section--global-spacing section--hover-grid section--school-hub">
                <div class="padded-row split-intro-text">
                  <div class="small-12">
                    <h2> It's Your Time to Shine
                    </h2>
                  </div>
                  <div class="split-intro-text__text">
                    <p> At St. john, you have endless opportunities to discover your inspiration.
                    </p>
                  </div>
                  <div class="split-intro-text__btn"><span class="split-intro-text__btn__container"><a
                        href="academics/university-course-offerings6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                        class="btn">
                        Our Courses
                      </a></span></div>
                </div>
                <div class="row sequence-anim-parent">
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static '/unmodified/190430_st._john_hall_360x2609812.jpg'%}"
                          width="687" height="496" alt="St. John Hall" loading="lazy" typeof="foaf:Image" /></div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> Undergraduate
                            Admission
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              Undergraduate Admission
                            </span></h3>
                          <p> St. john offers more than 100 undergraduate programs, ranging from pharmacy to
                            finance to fashion studies. We are leaders, innovators, explorers, and top-level interns. We
                            are St. john!
                          </p><span class="line-link"><a
                              href="admission/undergraduate-admission6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Explore Undergraduate Admission</a></span><span class="line-link"><a
                              href="academics/programsa03c.html?level=146&amp;utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Undergraduate Programs of Study</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static 'unmodified/SJU-0348.360x260bb53.jpg'%}"
                          width="360" height="260" alt="back of student who is looking at the stock ticker"
                          loading="lazy" typeof="foaf:Image" /></div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> Graduate Admission
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              Graduate Admission
                            </span></h3>
                          <p> The graduate schools at St. John in New York City offer more than 60 graduate degree and
                            professional certificate programs. Earn your master’s degree, doctoral degree, or
                            professional certificate online, in New York, or in Rome while you learn.
                          </p><span class="line-link"><a
                              href="admission/graduate-admission6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Explore Graduate Admission</a></span><span class="line-link"><a
                              href="academics/programsc580.html?level=151&amp;utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Graduate Programs of Study</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static 'unmodified/reslife-1600x900b1aa.png'%}"
                          width="1600" height="900" alt="Residence Life 1600x900" loading="lazy" typeof="foaf:Image" />
                      </div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> Transfer Admission
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              Transfer Admission
                            </span></h3>
                          <p> Transferring to St. John means opening the door to a world-class education in a diverse
                            campus community that focuses on every student's success. We offer generous transfer
                            scholarships to qualifying students, as well as expedited admission.
                          </p><span class="line-link"><a
                              href="admission/transfer-st-johns6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Explore Transfer Admission</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static 'unmodified/transnational_0b219.jpg'%}"
                          width="460" height="305" alt="Flags around the United Nations" loading="lazy"
                          typeof="foaf:Image" /></div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> International
                            Admission
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              International Admission
                            </span></h3>
                          <p> St. john University attracts highly motivated international students from 123
                            countries.
                          </p><span class="line-link"><a
                              href="admission/international-admission6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Explore International Admission</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static 'unmodified/DSC_0628_tonemapped_360x2602cbc.jpg' %}"
                          width="360" height="240" alt="Closeup of Graduate Student " loading="lazy"
                          /></div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> Financial Aid and
                            Scholarships
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              Financial Aid and Scholarships
                            </span></h3>
                          <p> St. john University honors its Vincentian founding by offering $417 million in
                            financial aid to the 2019-2020 undergraduate class.
                          </p><span class="line-link"><a
                              href="admission/tuition-and-financial-aid6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Explore Tuition and Financial Aid</a></span><span class="line-link"><a
                              href="admission/scholarships6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Learn About Scholarship Opportunities</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="small-12 medium-6 large-4 columns sequence-anim-item pop-in">
                    <article
                      class="hover-grid-item hover-grid-item--school-hub paragraph paragraph--type--homepage-school paragraph--view-mode--default"
                      href="#" tabindex="0">
                      <div aria-hidden="true" class="hover-grid-item__overlay"></div>
                      <div class="hover-grid-item__media"><img
                          src="{% static 'unmodified/180520_queens_commencement_360x240b696.jpg' %}"
                          width="2073" height="1382" alt="Students throwing caps at commencement" loading="lazy"
                        /></div>
                      <div class="hover-grid-item__content">
                        <h3 class="hover-grid-item__heading-outer"><span class="line-link__inner"> Outcomes You Can
                            Count On
                          </span></h3>
                        <div class="hover-grid-item__content__reveal">
                          <h3 aria-hidden="true" class="hover-grid-item__heading-inner"><span class="line-link__inner">
                              Outcomes You Can Count On
                            </span></h3>
                          <p> Stellar internship opportunities, as well as worldwide industry connections, help Johnnies
                            navigate through all that awaits after graduation.
                          </p><span class="line-link"><a
                              href="life-st-johns/career-services6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">University Career Services</a></span><span class="line-link"><a
                              href="life-st-johns/career-services/career-outcomes6948.html?utm_source=School%20Hub&amp;utm_medium=Website&amp;utm_campaign=June%202021%20Changes"
                              rel="noopener">Outcome Snapshot</a></span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </section>
   
              <section class="section--banded section--home-social-media">
                <div class="row">
                  <div class="small-12 large-5 columns">
                    <h2> Get an insider's view of what's happening at St. John.
                    </h2>
                  </div>
                  <div class="small-12 large-7">
                    <ul>
                      <li><a class="social-media-link" href="https://www.facebook.com/stjohnsu/" target="_blank"><span
                            class="visually-hidden">
                            Facebook
                          </span><i class="fab fa-facebook"></i></a></li>
                      <li><a class="social-media-link" href="https://www.instagram.com/stjohnsu/" target="_blank"><span
                            class="visually-hidden">
                            Instagram
                          </span><i class="fab fa-instagram"></i></a></li>
                      <li><a class="social-media-link" href="https://twitter.com/StJohnsU" target="_blank"><span
                            class="visually-hidden">
                            Twitter
                          </span><i class="fab fa-twitter"></i></a></li>
                      <li><a class="social-media-link" href="https://www.linkedin.com/school/st.-John-university/"
                          target="_blank"><span class="visually-hidden">
                            LinkedIn
                          </span><i class="fab fa-linkedin"></i></a></li>
                      <li><a class="social-media-link" href="https://www.youtube.com/user/stjohnsedu?feature=watch"
                          target="_blank"><span class="visually-hidden">
                            YouTube
                          </span><i class="fab fa-youtube"></i></a></li>
                      <li><a class="social-media-link" href="https://www.tiktok.com/@stjohnsu?lang=en"
                          target="_blank"><span class="visually-hidden">
                            TikTok
                          </span><i class="fab fa-tiktok"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
{% endblock body %}
    