<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <style>
        .card {
            max-width: 400px;
            background: #dbf9e6;
            border-radius: 2px;
            padding: 12px;
            margin-top: 2rem;
            margin: auto;
            text-align: center;
            margin-top: 1rem;
        }

        .card h3 {
            color: #26ab5b;
        }

        .card a {
            color: #596be3;
        }
    </style>
</head>

<body>
    <div class="card" >
        <h3>&#10004; Payment successful</h3>
        <h4>Order Id - {{order_id}}</h4>

        <a href="https://stjohnedu.in/">Go back to Home</a>

    </div>
</body>

</html>