* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(204 211 222);
}

.body {
    background-color: rgb(204 211 222) !important;
}

.title {
    color: rgb(4 4 103);
}

.d-focus {
    box-shadow: none !important;
    outline: none;
}

.search-input:focus {
    box-shadow: none !important;
    outline: none;
    border: none;
}

.bg-primary {
    background-color: rgb(4 4 103) !important;
}

/* =========Header======== */
.blog-nav-logo{
    height: 30px;
}


/* =========Home Page=========== */

.card-image{
    object-fit: cover !important;
  aspect-ratio: 16/ 10 !important; 
}

.card-image-div{
    overflow: hidden;
}
.post-image{
    max-height: fit-content;
    width: auto;
    
}


/* ========POST DETAIL PAGE=========== */

.post-image{
    display: flex;
    justify-content: start;

}
.post-image img{
    object-fit: contain !important;
    height: inherit;
}
