{% extends './blog_base.html' %}
{% load static %}

{% block meta %}
<meta name="description"
    content="Are you looking for an online professional Degree, Diploma, course, and certificate? Just check out St. John international online autonomous university." />
<meta name="keywords"
    content="online education, st. john online courses and diplomas and degrees and certificates, health courses in Bengaluru, Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/blog">
{% endblock meta %}
{% block title %}
St. John International Online Autonomous University's Blogs
{% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                Hello
            </div>
        </div>
    </div>
</section>

{% endblock body %}