{% extends './blog_base.html' %} {% load static %} {% block meta %}
<meta name="description"
    content="{{post.meta_description}}" />
<meta name="keywords"
    content="{{post.meta_keyword}}" />
<link rel="canonical" href="https://stjohnedu.in/blog/post/{{post.slug}}" />
{% endblock meta %} 
{% block title %} {{post.title }} {% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex  align-items-center justify-content-center">
            <div class="col-12 col-sm-7">
                <div class="text-dark mb-4">
                    <h1>{{post.title | title}}</h1>
                </div>
                <div class="my-3 post-image" >
                    <img src="{{post.imageURL}}" alt="{{post.title}}" class="img-fluid rounded">
                </div>
                <div class="content">
                    {{post.content | safe}}
                </div>
                <div class="footer mt-5 mb-3">
                    <small class="text-muted ">Posted At : {{post.created_at | date:'d-M-Y'}}</small> <small class="text-muted ms-3">Category : {{post.category}} </small>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}