{% extends './blog_base.html' %} {% load static %} {% block meta %}
<meta name="description"
    content="Are you looking for an online professional Degree, Diploma, course, and certificate? Just check out St. John international online autonomous university." />
<meta name="keywords"
    content="online education, st. john online courses and diplomas and degrees and certificates, health courses in Bengaluru, Engineering courses in Bengaluru, management courses Bengaluru,  certified courses in Bengaluru, health courses in Karnataka, management courses in Karnataka, cretified courses in Karnataka, engeenring courses in Karnataka, St. John international online autonomous university in Bengaluru, St. John international online autonomous university in Karnataka " />
<link rel="canonical" href="https://stjohnedu.in/blog/post/{{post.slug}}" />
{% endblock meta %} 
{% block title %} {{post.title }} {% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex  align-items-center justify-content-center">
            <div class="col-12 col-sm-7">
                <div class="text-dark mb-4">
                    <h1>{{post.title | title}}</h1>
                </div>
                <div class="my-3 post-image" >
                    <img src="{{post.imageURL}}" alt="blog" class="img-fluid rounded">
                </div>
                <div class="content">
                    {{post.content | safe}}
                </div>
                <div class="footer mt-5 mb-3">
                    <small class="text-muted">Posted At : {{post.created_at | date:'d-M-Y'}}</small>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}