{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block css  %} 

<style>
  .form input{
    background-color:red;
    display: block;
    width: 60%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
  }
  .form label{
    display:block !important;
    font-size: 1.2rem !important;
    font-family: sans;
    margin-bottom: 0px!important;
  }
</style>

{% endblock css %}

{% block body %}

       
<div class="alert-width m-auto my-4">
              <h2 class="text-center">Change Password</h2>
            <form method="POST" >
              {% csrf_token %}
                <div class="form">
                  {{form.as_p}}
                </div>

                <div  style="margin-bottom: 10px;margin-top: 10px;">
                <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            
            </form>
        </div>
{% endblock body %}

      
      