{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block body %}

           <div style="margin: 180px;margin-top: 140px;">
            <center><h1>Reset</h1></center>
            <form method="POST">
              {% csrf_token %}
                <div class="inputs">
                    {{form.as_p}}
                </div>
                <div>
                <input type="submit" class="btn-contact" value="Reset" style="background-color: #bd081d; color: white; cursor: pointer;padding: 10px;">
                </div>            
            </form>
        </div>
{% endblock body %}
