{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block body %}

           <div style="margin: 180px;margin-top: 140px;">
            <center><h1>Change Password</h1></center>
            <form method="POST" >
              {% csrf_token %}
                <div class="inputs">
                  {{form.as_p}}
                </div>

                <div  style="margin-bottom: 20px;margin-top: 10px;">
                <input type="submit" class="btn-contact" value="Submit" style="background-color: #bd081d; color: white; cursor: pointer;padding: 10px;">
                </div>
            
            </form>
        </div>
{% endblock body %}

      
      